html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

:root {
  --color-primary: #ec5600;
  --color-primary-dark: #db5000;
  --color-secondary: #4d592b;
  --color-secondary-dark: #414536;
  --color-secondary-light: #adb29e;
  --color-secondary-bright: #e2e4d9;
  --color-section-bg: #f5f5f1;
  --color-text: #172126;
  --color-footer-bg: #2c2f24;
  --styl-pisma-nadpisy: "playfair Dispaly", serif;
  --styl-pisma-ostatni: "DM Sans", sans-serif;

  --radius: 12px;
}

body{
  font-family: var(--styl-pisma-ostatni);
  font-size: 1.125rem;
  color: var(--color-text);
}

h1,
h2{
  font-family: var(--styl-pisma-nadpisy);
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1;
}

h2{
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h3{
  font-family: var(--styl-pisma-ostatni);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}

/* section, 
footer {
  padding-top: 50px;
  padding-bottom: 50px; s tímhle je to hrozně ošklivý :-(( prozatím vypnuto
} */

.container{
  max-width: 540px;
  margin: 0 auto;
  align-items: center; /*tady si nejsem jistá, jestli to vycentruje tu sekci doprostřed*/
  padding: 0 20px 0 20px;
}

/*sekce hlavička a navigace*/

.logo_brisko img{
  height: 35px;
}

.logo_brisko{
  display: block;
  text-align: center;
  margin: 20px 0 20px 0;
}

/*Navigace*/
.navigace{
  display: inline-block;
}

.nav__link{
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-secondary-dark);
  border-radius: 100vw;
}

.nav__link:hover,
.nav__link:focus {
  background: var(--color-secondary-bright);
}

/*Sekce HERO s tlačítkem*/

.hero .container {
  background-image: url(images/hero.jpg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

.hero_nadpis{
  padding: 100px 0 30px 0;
  margin: 0;
}

.hero_popis{
  font-size: 1.125rem;
  padding-bottom: 30px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  text-decoration: none;
  background-color: var(--color-primary);
  border-radius: 100vw;
  padding: 15px 30px 15px 30px;
  margin-bottom: 100px;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.button:hover,
.button:focus {
  background-color: var(--color-primary-dark)
}